.box>.leftBox>#elon{
	align-self: left;
}
.box>.leftBox>img {
	align-self: left;
}
section>#box>.leftbox>img{
	align-self: center;
}

iframe{
	align-self: center;
}
.centerbox>iframe{
	align-self: center;
}
.box>.leftBox>#openAI{
	align-self: left;

}
li{color:red;
}